<div class="container">
<div class="title">
                Welcome To Time Portal
            </div>
          
                <div class="panel-body">
                <div class="row">
                    <div class="input-field col s12">
                     <label for="userName">User Name</label>
                        <input  id="userName" 
                            type="text" class="validate">
                       
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                      <label for="password">Password</label>
                        <input  id="password" 
                            type="password" class="validate">
                      
                    </div>
                </div>
            
                <input type="submit" name="action" value="Login"  />
            </div>           
       
</div>