<div class="container">
<div class="title">
                Welcome To Time Portal    <a routerLink="/home">Home</a>
            </div>
          
                <div class="panel-body">
                <div class="row">
                    <div class="input-field col s12">
                     <label for="userName">User Name</label>
                       
                        <input  id="userName" type="text"  [ngModel]="user.userName" required class="validate">
                       
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                      <label for="password">Password</label>
                      
                        <input  id="password" type="password"  [ngModel]="user.password" required class="validate">
                    </div>
                     <button (click)="clicked()">Click</button>
                      <div > 
     
      </div>
                </div>
            
                

            </div>           
       
</div>